services:
  backend:
    build:
      image: chatbot-backend
      context: ../backend
      dockerfile: Dockerfile
    container_name: chatbot-backend
    ports:
      - "5000:5000"
    env_file:
      - ../backend/.env
      - ../backend/.env.production
    networks:
      - app-network

  frontend:
    build:
      image: chatbot-frontend
      context: ../frontend
      dockerfile: Dockerfile
    container_name: chatbot-frontend
    ports:
      - "3000:3000"
    env_file:
      - ../frontend/.env.production
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
